<p>pipes works!</p>
<br>
{{fullName}}
<br>
{{fullName | lowercase}}
<br>
{{fullName | uppercase}}
<br>
{{fullName | titlecase}}
<br>
{{fullName | slice:3}}
<br>
{{fullName | slice:3:5}}
-------------------------------------------
<br>
{{2.678}}
<br>
{{2.678 | number :'1.2-3'}}
<br>
{{2.678 | number :'3.4-5'}}  002.6780
-------------------------------------------
<br>
{{0.5 | currency}}
-------------------------------------------
<br>
{{myDate}}
<br>
{{myDate | date :'short'}}
<br>
{{myDate | date :'shortTime'}}
<br>
{{myDate | date :'shortDate'}}
<br>
{{myDate |date :'medium'}}
<br>
{{myDate |date :'mediumTime'}}
<br>
{{myDate |date :'mediumDate'}}
---------------------------------------------

<br>
{{4 | square :3:4:5}}

