<!-- <app-header></app-header>

<app-main></app-main>

<app-footer></app-footer> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-template-reference-variable></app-template-reference-variable> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-ng-if-structure-directive></app-ng-if-structure-directive> -->
<!-- <app-ng-switch-structure-directive></app-ng-switch-structure-directive> -->
<!-- <app-ng-for-structure-directives></app-ng-for-structure-directives> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-parent></app-parent> -->
<app-emp-list></app-emp-list>
<app-emp-details></app-emp-details>
